*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
}
.mainBody{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.resSum{
  position: absolute;
    width: 50%;
    height: 450px;
    background-color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 12px 12px 20px rgb(233, 232, 232) ;
    display: flex;
    flex-direction: row;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 450px;
    background: linear-gradient( hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border: none;
    border-radius: 30px;
}
.con{
  width: 75%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hhh{
  font-size: 18px;
  color: hsl(241, 100%, 89%);
  font-weight: 500;
}
.score{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 180px;
  border-radius: 100px;
  height: 180px;
  background:linear-gradient( hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0)) ;
}
p{
  font-size: 18px;
}
.score .one{
  font-size: 60px;
  font-weight: 700;
  color: hsl(221, 100%, 96%);
}
.score .two{
  color: hsl(225, 44%, 66%);
  font-weight: 600;
}
.remark{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 133px;
  
}
.remark h3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  font-size: 30px;
  color: hsl(0, 0%, 100%) ;
  font-weight: 500;
}
.remark p{
  text-align: center;
  color: hsl(241, 54%, 79%);
  font-weight: 600;
}
.summary{
  width: 50%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.consum{
  width: 80%;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sum{
  font-size: 18px;
}
.grade{
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
span{
  color: rgb(148, 147, 147);
}
.reaction{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 56px;
  background-color: hsla(0, 100%, 67%,0.1);
  border: none;
  border-radius: 10px;
}
.memory{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 56px;
  background-color: hsla(39, 100%, 56%,0.1);
  border: none;
  border-radius: 10px;
}
.memory .p p{
  color:  hsl(39, 100%, 56%);
}
.verbal{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 56px;
  background-color: hsla(166, 100%, 37%,0.1);
  border: none;
  border-radius: 10px;
}
.verbal .p p{
  color:  hsl(166, 100%, 37%);
}
.visual{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 56px;
  background-color: hsla(234, 85%, 45%,0.1);
  border: none;
  border-radius: 10px;
}
.visual .p p{
  color:  hsl(234, 85%, 45%);
}
.continue{
 height: 50px;
 background-color: hsl(224, 30%, 27%);
 border: none;
 border-radius: 30px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
.p{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reaction .p p{
  color:  hsl(0, 100%, 67%);
}
.grade p{
  font-weight: 700;
}
.p p{
  margin-left: 10px;
}
.percentage p{ 
  color: hsl(224, 30%, 27%);
}
.continue p{
  font-weight: 600;
  color:hsl(0, 0%, 100%) ;
}
@media (min-width:320px) and (max-width:425px)  {
  .mainBody{
    height: 920px;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
  }
  .resSum{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: none;
    height: 900px;
  }
  .result{
   width: 100%;
   height: 450px;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius:30px;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
  }
  .summary{
    height: auto;
    width: 100%;
  }
  .consum{
    width: 80%;
  }
  .con{
    width: 80%;
  }
}